.root {
    -fx-background-color: #f0f0f0;
    -fx-text-fill: #000000;
}

.button {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
}

.text-field, .combo-box {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
}

.label {
    -fx-text-fill: #000000;
}
